<div class="nav-setting">
      <div class="menu">
        <% if (user) { %>
         <a class="item" href="/create">添加项目</a>
          <a class="item" href="/posts?author=<%= user._id %>"><%= user.name %></a>
         
          <a class="item" href="/signout">登出</a>
        <% } else { %>
          <a class="item" href="/signin">登录</a>
          <a class="item" href="/signup">注册</a>
        <% } %>
      </div>
   
</div>