<%- include('header2') %>

  <div class="row mt20" >
    <div class="col-xs-12">     
      <form role="form" class="form-horizontal" name="myForm"  method="post">
        <div class="form-group">
          <label class="control-label col-sm-1">工作名称 (*)</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title" />
               

              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">需求人(*)</label>
            <div class="radio col-sm-4 ">
               <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    需求人
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
            </div>
        </div>

        <div class="form-group mt20 addpages" >
            <label class="control-label col-sm-1">交互</label>
            <div class="col-sm-1" id="config">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">需求人
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Another action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Something else here</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
            </div>
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
        </div>
          <div class="form-group addpages" >
            <label class="control-label col-sm-1">视觉</label>
            <div class="col-sm-1" id="config">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">需求人
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Another action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Something else here</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
            </div>
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
        </div>
      
       <div class="form-group addpages">
       <div class="col-sm-12">
          <label class="control-label col-sm-1">重构</label>
            <div class="col-sm-1" id="config">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">需求人
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Another action</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Something else here</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
            </div>
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
       </div>
       <div class="col-sm-12 mt20">
          <label class="control-label col-sm-1">重构稿(*)</label>
          <div class="col-sm-8">
            <textarea rows="3" cols="79" name="content" id="content"  class="form-control kindeditor" id="article_content"></textarea>
          </div>
       </div>
          
        </div>
        </form>

    </div>

            
  </div>


<%- include('footer') %>