<%- include('header2') %>

  <div class="row mt20 " >
  
    <div class="col-xs-12">     
      <form role="form" class="form-horizontal" name="myForm"  method="post">
        <div class="form-group addpages">
          <label class="control-label col-sm-1">工作名称 (*)</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-sm" name="title"  required  ng-model="user.firstName"/>
             
              </div>
        </div>

        <div class="form-group addpages">
            <label class="control-label col-sm-1">需求人(*)</label>
            <div class="col-sm-4 ">
              <div ng-app="myApp" ng-controller="SelectProject">
                <select ng-model="selectedName" ng-options="x for x in names">
                </select>
              </div>
            </div>
     
        </div>

        <div class="form-group  addpages" >
            <label class="control-label col-sm-1">交互</label>
            <div class="col-sm-1" id="config">
              <div ng-app="myApp" ng-controller="SelectJiaohu">
                <select ng-model="selectedName" ng-options="x for x in names">
                </select>
              </div>

            </div>
           
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
        </div>
          <div class="form-group addpages" >
            <label class="control-label col-sm-1">视觉</label>
            <div class="col-sm-1" id="config">
                <div ng-app="myApp" ng-controller="SelectShiJue">

                <select ng-model="selectedName" ng-options="x for x in names">
                </select>

              </div>
            </div>
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
        </div>
      
       <div class="form-group addpages">
       <div class="col-sm-12">
          <label class="control-label col-sm-1">重构</label>
            <div class="col-sm-1" id="config">
               <div ng-app="myApp" ng-controller="SelectUi">

                <select ng-model="selectedName" ng-options="x for x in names">
                </select>

              </div>
            </div>
             <label class="control-label col-sm-1">开始时间</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">计划完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
              <label class="control-label col-sm-1">实际完成</label>
             <div class="control-label col-sm-2"><input type="text" class="form-control input-sm" name="title" ng-minlength="5" ng-maxlength="50"  required  id="article_title"></div>
       </div>
       <div class="col-sm-12 mt20">
          <label class="control-label col-sm-1">重构稿(*)</label>
          <div class="col-sm-8">
            <textarea rows="3" cols="79" name="content" id="content"  class="form-control kindeditor" id="article_content"></textarea>
          </div>
       </div>
          
        </div>
        </form>

    </div>

            
  </div>


<%- include('footer') %>