<!DOCTYPE html >
<html ng-app="appAdd">
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
     <!--Angular-->
    <script src="/js/angular.js"></script>
    <!--bootstrap-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--datepicker-->
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
 
    <!--App-->
    <script src="/js/controllers.js"></script>
  


  </head>
  <body>

