<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
  
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
     <script src="/js/angular.js"></script>
     <link rel="stylesheet" href="/js/bootstrap.min.js">

  </head>
  <body>
    <script type="text/javascript">

$('.dropdown-toggle').dropdown()
  </script>

