/* ---------- 全局样式 ---------- */
.mt20{margin-top: 20px}
.mt100{margin-top: 100px}
.blue{color: #1c84c6 !important}
.red{color: #ed5565 !important}
.bg-gray{background-color: #e6e6e6 !important}
.bg-red{background-color: #ed5565 !important}


/* ---------- nav ---------- */

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 70px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}
.nav  a{display: block;margin-left: 20px}
.nav  a:hover{text-decoration: none;}
.nav h1 {
  color: #4fc08d;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 999;
}
.nav-setting .item{width: 70px;display: inline-block;}

/*login */
.loginscreen.middle-box {
    width: 300px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.addpages{margin: 50px;background-color: #e6e6e6;padding: 30px}

.time-jh{background-color:  #09F;}
.time-sj{background-color:  #F93;}
.time-cg{background-color:  #0C0;}
.time-line {margin-left: 10px;color: #fff;padding: 2px 10px}
.time-done{color: #e6e6e6}
.time-done .time-line{background-color: #e6e6e6}

.index-table tr:hover{cursor:pointer;}
.time-stop .time-line{background-color:#ed5565 }
